<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Register Interest</title>
</head>
<style>
    div {
        display: flex;
        justify-content: center;
        font-family: sans-serif;
        flex-direction: column;
        align-items: center;
    }
</style>
<body>
    <div>
        <h1>Registered Interest</h1>
        <p>Journey Equip</p>
        <br /><br />
        <p>Registered Interest for school year 2022-2023</p>
        <br /><br />
        <p>Name: <span id="userName">[userName]</span></p>
        <br />
        <p>Email: <span id="userEmail">[userEmail]</span></p>
        <br />
        <p>Country applied from: <span id="userCountry">[userCountry]</span></p>
    </div>
</body>
</html>
