body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
@font-face {
	font-family: 'Lemon Milk';
	src: local('Lemon Milk'),
		url(./assets/fonts/lemon_milk/LEMONMILK-Regular.otf) format('truetype');
}
@font-face {
	font-family: 'Lemon Milk Light';
	src: local('Lemon Milk Light'),
		url(./assets/fonts/lemon_milk/LEMONMILK-Light.otf) format('truetype');
}
@font-face {
	font-family: 'Lemon Milk Medium';
	src: local('Lemon Milk Medium'),
		url(./assets/fonts/lemon_milk/LEMONMILK-Medium.otf) format('truetype');
}
@font-face {
	font-family: 'Lemon Milk Bold';
	src: local('Lemon Milk Bold'),
		url(./assets/fonts/lemon_milk/LEMONMILK-Bold.otf) format('truetype');
}
