@media screen and (min-width: 580px) {
	.whoAreWeParagraph {
		/* background-color: #f8f8f8; */
		font-family: 'Lemon Milk Light';
		font-style: normal;
		font-weight: 300;
		font-size: 30px;
		line-height: 41px;
		text-align: center;
		min-height: 244px;
		padding-left: 226px;
		padding-right: 226px;
		padding-top: 24px;
		margin-top: 300px;
		margin-bottom: 285px;
	}
}
@media screen and (max-width: 579px) {
	.whoAreWeParagraph {
		font-family: 'Lemon Milk Light';
		font-style: normal;
		font-weight: 300;
		font-size: 14px;
		line-height: 19px;
		text-align: center;
		min-height: 244px;
		padding-left: 5vh;
		padding-right: 5vh;
		padding-top: 24px;
		margin-top: 10vh;
		margin-bottom: 10vh;
	}
}
